body {
    background-color: rgb(209, 167, 248);
}

button {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

#message {
    font-size: 16px;
    color: #333;
    padding: 20px;
    text-align: center;
    background-color: #f0f8f0;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
}
